<ion-view view-title="Invite" style="background-color: #e1f5fe;">
    <ion-content style="width: 90%; margin: 0 5%;">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in vm.people" type="item-text-wrap">
                <img ng-src="{{person.face}}" style="max-width: 80px; max-height: 80px; display: block;" />
                <span class="item-note" style="padding-left: 130px; font-family: Arial, Helvetica, sans-serif; color:#387ef5; font-size: 20px; line-height: 22px; float: left;">{{ person.name }}</span>
                <button class="button icon-left ion-star button-positive" ng-click="vm.invite(person)" style="float: right;">
                    <ion-icon name="star"></ion-icon>
                    Invite
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
